.formulario{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 7%;    
}
.informacion{
    width: 30%;
    margin-right: 2%;
    background-color:#C9C8C8;

}
@media (max-width:516px){
  .informacion{
    width: 145px; 
  }  
}
form{
    width:40%;
}
.seleccion{
    margin-bottom: 3%;
    margin-right: 90%;
    width: 50%;
}

#nombre,#apellidos,#email{
    margin-bottom: 3%;
    width: 100%;
    border: none;
    border-bottom: solid 2px #414141;
    height: 10%;
}

.bore{
    width: 40%;
    margin-left:2%;
    border: none;
}

.boto{
    width: 40%;
    border: none;
}
.bore:hover,.boto:hover{
    background-color: #A6A6A6;
}
textarea{
    width: 100%;
    margin-bottom: 3%;
    background-color: #E2DFDF;
    HEIGHT: 20%
}