formulario{
    display: flex;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 7%;
}
.informacion{
    width: 20%;
    margin-right: 8%;
    background-color: rgb(169, 169, 169);

}
form{
    width:40%;
}
.seleccion{
    margin-bottom: 3%;
    margin-right: 90%;
    width: 50%;
}
input{
    margin-bottom: 3%;
    width: 100%;
}
.bore{
    width: 40%;
}
.boto{
    width: 40%;
}
textarea{
    width: 100%;
    margin-bottom: 3%;
}
