h1,h2 span{font-family: 'Playfair Display SC', cover;}
h3{font-family: 'Kaushan Script', cursive;}
#recetas-section{
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;
    padding: 50px;
}

#main-container .bg-recetas-calabacines{
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../imagenes/calabacines.jpg);
}
#main-container .bg-recetas-pasta{
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../imagenes/calabacines.jpg);
}

.recetas-titulo h1{
    color: white;
    font-size: 5em;
    text-align: center;
}
.recetas-titulo h3{
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: center;
}

.ingredientes{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.preparacion{
   width: 50%;
   vertical-align: top;
   display: inline-block;
   text-align: center;
}
#main-container section .lista-ingredientes{
    box-sizing: border-box;
    list-style: none;
}
#main-container section .lista-ingredientes li{
    text-align: left;
    margin-left: 10px;
    margin-right: 60px;
}
#main-container section .lista-ingredientes li div{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.3em;
    font-style: italic;
    vertical-align: middle;
    width: 140px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}